@import 'tailwindcss';

@source './src/**/*.{html,js,svelte,ts}';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Fredoka', 'Comic Sans MS', cursive, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@layer base {
	:root {
		--color-navy: #2e3192;
		--color-orange: #ff6b35;
		--color-lime: #c4d82e;
		--color-beige: #e8e3d5;
	}
}
